name: Build & Deploy to AWS (server)

on:
  push:
    branches: [ "main", "master" ]

env:
  IMAGE_NAME: disney-uptime-server

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push image to ECR
        env:
          ECR_REPOSITORY: ${{ secrets.ECR_REPO_SERVER }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          ECR_URI=$(aws ecr describe-repositories --repository-names "${ECR_REPOSITORY}" --region ${{ secrets.AWS_REGION }} --query "repositories[0].repositoryUri" --output text)
          echo "ECR_URI=$ECR_URI" >> $GITHUB_ENV
          docker build -t $ECR_URI:${IMAGE_TAG} .
          docker push $ECR_URI:${IMAGE_TAG}
          echo "IMAGE_URI=$ECR_URI:${IMAGE_TAG}" >> $GITHUB_ENV

      - name: Deploy to ECS (update service)
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: server-task-def.json
          service: ${{ secrets.ECS_SERVICE_NAME_SERVER }}
          cluster: ${{ secrets.ECS_CLUSTER }}
          wait-for-service-stability: true
