name: Build & Deploy Client to AWS (ECR/ECS)

on:
  push:
    branches: [ "main", "master" ]

env:
  IMAGE_NAME: disney-uptime-client

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build and push Docker image
        env:
          ECR_REPO: ${{ secrets.ECR_REPO_CLIENT }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          ECR_URI=$(aws ecr describe-repositories --repository-names "${ECR_REPO}" --region ${{ secrets.AWS_REGION }} --query "repositories[0].repositoryUri" --output text)
          docker build -t $ECR_URI:${IMAGE_TAG} .
          docker push $ECR_URI:${IMAGE_TAG}
          echo "IMAGE_URI=$ECR_URI:${IMAGE_TAG}" >> $GITHUB_ENV

      - name: Deploy to ECS
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: client-task-def.json
          service: ${{ secrets.ECS_SERVICE_NAME_CLIENT }}
          cluster: ${{ secrets.ECS_CLUSTER }}
          wait-for-service-stability: true
